@import '../../vars.css';

.container{
    background-color: var(--color-dark);
    margin: 2% 5%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    padding: 40px;
}

.container h2{
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1.75px;
}

.aboutMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 10%;
    /* background-color: red; */
}

.aboutMe ul{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 40px;
}

.aboutMe ul li{
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    /* background-color: red; */
    margin-left: 30%;
    /* background-image: linear-gradient(90deg, rgba(165, 215, 232, 0.42)0%, rgba(255, 255, 255, 0) 100%); */
}

.aboutMe ul li img{
    /* background-color: green; */
    padding: 20px;
}

.aboutMe ul li h3{
    font-size: 25px;
    font-weight: 600;
    margin-left: 5%;
}

.aboutMe ul li p{
    font-size: 25px;
    margin-left: 5%;
}

@media screen and (max-width:730px){
    .container{
        margin-top: 10%;
    }

    .aboutMe{
        align-items: center;
        justify-content: center;
    }

    /* .aboutMe ul{
        background-color: green;
    } */

    .aboutMe ul li{
        margin: 0;
    }
}