@import '../../vars.css';

.container{
    color: var(--color-text);
}


.container h3{
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-size: 30px;
    font-weight: 700;
    margin-left: 5%;
}

.container p{
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin-top: 3%;
}

/* .contactForm{
    background-color: purple;
} */

.contactFormInputs{
    margin-left: 5%;
    
}

.contactFormInputs ul {
    /* background-color: red; */
    list-style: none;
}

.contactFormInputs ul li, textarea{
    background-color: green;
    padding: 5px 0%;
}

.contactFormInputs ul li input{
    background: #115173;
    height: 50px;
    font-size: 16px;
    box-sizing: border-box;
    padding: 0 20px;
    border: 0;
    color: #fff;
}

.contactFormInputs ul li textarea{
    border: 0;
    height: 50px;
    font-size: 16px;
    color: #fff;
    background: #115173;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
}

.flat-button{
    color: #ffd700;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
}