@import '../../vars.css';

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    margin: 0 5%;
    padding-top: 60px;
}

.title{
    color: var(--color-text);
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.menu{
    display: flex;
}

.menuItems{
    display: flex;
    list-style: none;
    gap: 40px;
    color: var(--color-text);
    font-size: 25px;
    font-weight: 500;
}

.menuBtn{
    display: none;
}

.menuItems a{
    font-size: 25px;
}

@media screen and (max-width: 830px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    .menu{
        align-items: flex-end;
        flex-direction: column;
        right: 0;
        position: absolute;
        gap: 11px;
        z-index: 3;
        margin-right: 7%;
        width: 100%;
        /* background-color: yellow; */
    }

    .menuBtn{
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .menuItems{
        display: none;
        flex-direction: column;
        gap: 13px;
        position: fixed;
        align-items: center;
        background: rgb(25, 55, 109);
        width: 100vw;
        opacity: 0.94;
        left: 0;
        /* background: linear-gradient(0deg, rgba(25, 55, 109, 0.2) 0%, rgba(25, 55, 109, 1) 100%); */
        padding: 20px 33px;
    }

    .menuOpen{
        display: flex;
        z-index: 1;
    }
}