@import '../../vars.css';

.container{
    background-color: var(--color-dark);
    /* background-color: red; */
    margin: 0% 5%;
    color: #fff;
}

.socials{
    /* background-color: green; */
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.socials a{
    color: #fff;
    height: 30px;
    /* background-color: red; */
}

.icon{
    /* background-color: yellow; */
    margin: 5px;
    padding: 0px 20px;
}

.designedBy{
    text-align: center;
    justify-content: center;
    /* background-color: red; */
    margin-top: 20px;
}

.designedBy p{
    font-size: 0.7em;
}

.designedBy p a{
    color: blue;
}

@media screen and (max-width: 830px) {

    .socials{
        /* background-color: green; */
        padding-top: 30px;
    }
/* 
    .designedBy{
        background-color: red;
    } */

}